body{
	height: 100vh;
}

body.color{
	background-color: tan;
}

header#top{
	background-color: slategrey;
	border-top-left-radius:12% 50%;
	border-top-right-radius:12% 50%;
}

header section#logo{
	background-color: black;
	height:100%;
	transition: width .5s;
	border-radius: 50%;
}

header section#logo:hover{
	

}

header section img#img-logo{
	clip-path: circle(25%);
	transition: clip-path 0.5s;
}

header section img#img-logo:hover{
	clip-path: circle(100%);
}


header section#titre{

}

header section span#auCoin{
	font-family: arial, sans-serif;
}

header section.nav-circle{
	background-color: grey;
	width:70px;
	height:70px;
	transition: width .5s, height .5s;
}

header section.nav-circle:hover{
	background-color: red;
	width:50px;
	height:50px;
}

.arial{
	font-family: arial, sans-serif;
}

